@use "./variables" as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $edmontonBlue;
  color: $white;
  font-size: clamp(1.8rem, 1.05vw, 2rem);
  padding: 15px 10px;
  height: 55px;
}