@use "./variables" as *;

h3 {
  font-size: clamp(2.2rem, 1.8vw, 3rem);
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: $edmontonBlue;
  font-family: $latoBold;
  padding: 0 5px;
  text-align: center;
}


//MAIN SECTION 

main {
  background-size: cover;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
  min-height: calc(100vh - 355px);
  background-repeat: no-repeat;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
}

.videoContainer {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mainVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.videoCredit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.byline {
  font-family: $lato;
  color: $white;
  font-size: 2rem;
  padding: 10px;
}

.frontPage {
  min-height: calc(100vh - 305px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aboutPage {
  background-color: $lightGreen;
}

.mainCurrentDisruptions {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/gh3-KATG-027.jpg);
  background-position: center 90%;
}

.mainUpcomingDisruptions {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/bayenterprise.jpg);
  background-position: center 60%;
}

.mainEscalatorsElevators {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/Getaway-News-Alex-Cook-Not-Enough-Broken-Escalators.jpg);
  background-position: 40% 60%;
}

//FRONT PAGE MENU BUTTONS 

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}

.mainButton {
  background-color: #dde3e6f5;
  font-size: clamp(1.5rem, 3vw, 5rem);
  text-decoration: none;
  width: 60%;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  font-family: $lato;
  color: $edmontonBlue;
  border: 5px solid $edmontonBlue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $orange;
    color: $white;
    border: 5px solid $orange;
  }
  
  &:hover {
    background-color: $orange;
    color: $white;
    border: 5px solid $orange;
  }
}

.mainButton:active {
  animation: push 0.5s ease-in-out
}

@keyframes push {
  0% {transform: scale(1);}
  50% {transform: scale(0.9);}
  100% {transform: scale(1);}
}

.navLink:visited {
color: $edmontonBlue;
}


//ACCORDION CONTENT 

.route {
  display: flex;
  width: 100%;
}

.accordion {
  border-bottom: 2px solid $white;
}

.accordionItemHeader {
  background-color: $blue;
  color: white;
  font-size: clamp(1.2rem, 1.05vw, 2rem);
}

.accordionItemHeader {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 23px;
}

.accordionItemHeader::after, .accordionItemHeader.active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; 
  padding: 0 10px;
}

.accordionItemHeader::after {
  content: "\271A";
}

.accordionItemHeader.active::after {
  content: "\2716";   
}

.accordionContent {
  padding: 10px;
  color: black;
  background-color: $lightGreen;
  font-size: 2rem;

  div {
    margin: 1.5px 0;
  }
}

.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.5s ease-out;
}


.resultsElevatorContainer, .resultsEscalatorContainer {
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.briefDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $latoBlack;
  padding-bottom: 10px;
  font-size: clamp(1.5rem, 1.05vw, 2rem);

}

.doubleInfoContainer {
  width: 100%;
  display: flex;
  font-size: clamp(1.6rem, 1.05vw, 2rem);
  justify-content: center;

  .doubleLeft, .doubleRight {
    width: 50%;
    display: flex;
  }

  .doubleLeft {
    justify-content: flex-end;
    padding-right: 2.5px;
  }

  .doubleLeft::after {
    content: ":"
  }

  .doubleRight {
    justify-content: flex-start;
    padding-left: 2.5px;
  }

  .doubleRight:last-child {
    flex-wrap:wrap;
  } 

  .stop {
    display: inline;
  }
}


//ELEVATORS AND ESCALATORS

.h3Header {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  background-color: $yellow;
}

.disruptionsHeader {
  width: 100%;
}

.disruptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
  }
}

.elevatorOutages, .elevatorOutagesHeader, .escalatorOutages, .escalatorOutagesHeader {
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin: 0 auto;
}

.stationHeaders {
  font-family: $latoBold;
  display: flex;

  div {
    background-color: #986FAF;
    height: 35px;
  }
}

.stationGridElevator, .stationGridEscalator, .stationHeaders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: $white;
  font-size: 2rem;

  div {
    border: 1px solid black; 
    overflow: hidden; 
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
}

.stationGridElevator, .stationGridEscalator {
  background-color: $lightGreen;
  font-size: 2rem;
}


//MISC MESSAGES

.apiError {
  display: flex;
  justify-content: center;
  font-size: clamp(1.5rem, 1.05vw, 2rem);
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  padding-bottom: 20px;
}