.disruptionsHeader {
  width: 100%;
}

.disruptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  div {
    width: 100%;
  }
}

.route {
  display: flex;
  width: 100%;
}

.accordionItem {
  border: 2px solid red;
}


.accordion {
  border-bottom: 2px solid white;
}

.accordionItemHeader {
  cursor: pointer;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  background-color: #161515;
  padding: 10px;
}

// h3 {
//   font-size: 2.4rem;
//   text-transform: uppercase;
// }

.accordionItemHeader::after, .accordionItemHeader.active::after {
  font-size: 3.5rem;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; 
  padding: 0 10px;
}

.accordionItemHeader::after {
  content: "\002B";
}

.accordionItemHeader.active::after {
  content: "\002D";   
}

.accordionContent {
  padding: 10px;
  color: black;
  font-size: 2.4rem;
  border: 2px solid #161515;
}

.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.5s ease-out;
}

























.resultsElevatorContainer, .resultsEscalatorContainer {
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.elevatorOutages, .elevatorOutagesHeader, .escalatorOutages, .escalatorOutagesHeader {
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin: 0 auto;
}

.stationGrid, .stationGridHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  div {
    border: 1px solid black; 
    overflow: hidden; 
    text-align: left;
  }
}



