@use "./variables" as *;

header {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.85) 100%), url(../../assets/valley_line_LRT_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 62%;
  border-bottom: 2px solid $white;
}

h1, h2, .headerDescription {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: $blue;
  font-family: $latoBold;
  font-size: 6.5rem;
  text-shadow: -1.5px -1.5px 0 $white, 1.5px -1.5px 0 $white, -1.5px 1.5px 0 $white, 1.5px 1.5px 0 $white;
  white-space: pre;
  margin: 15px 0;
}

.h1span {
  color: $orange;
}

h2 {
  color: $white;
  font-size: 3rem;
  text-shadow: -1.5px -1.5px 0 $navy, 1.5px -1.5px 0 $navy, -1.5px 1.5px 0 $navy, 1.5px 1.5px 0 $navy;
  white-space: pre;
  margin: 2.5px 0;
}

.headerDescription {
  font-size: 2rem;
  color: $white;
}



