@use "./variables" as *;

@media (max-width: 768px) {
  
  .stationGridElevator, .stationGridEscalator {
    display: grid;
    grid-template-columns: 1fr;
  }

  .elevatorOutagesHeader {
    display: none;
  }
}