@use "./variables" as *;


@media (max-width: 1000px) {

  .videoContainer {
    display: none;
  }

  .frontPage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/Belvedere_LRT_Station_6-22am.jpg);
  }

  h1 {
    display: flex;
    flex-wrap:wrap;
    white-space:break-spaces;
  }  

  .stationGridElevator, .stationGridEscalator {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 2px solid black;
    padding: 5px;
    font-size: clamp(1.6rem, 2vw, 2rem);
     
      div {
        justify-content: center;
        border: none;
        text-align: center;
      }

      div:first-child {
        font-family: $latoBold;
      }

      div:nth-child(4)::before {
        content: "Since ";
        white-space: pre;
      }
      
      div:last-child {
        display: none;
      }
  }

  .stationGridElevator:last-child, .stationGridEscalator:last-child {
    border-bottom: 2px solid black;
  }

  .stationGridElevator div:first-child::after, .stationGridEscalator div:first-child::after {
    content: " Station";
    white-space: pre;
  }

  .elevatorOutagesHeader,.escalatorOutagesHeader {
    display: none;
  }

  .briefDescription {
    font-family: $lato;
  }

  .doubleInfoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .doubleLeft, .doubleRight {
      justify-content: center;
      padding: 0;
      width: 100%;
      text-align: center;
    }

    .doubleLeft {
      font-family: $latoBlack
    }

    .doubleLeft::after {
      content: ""
    }
  }
}

@media (max-width: 481px) {
  .mainButton {
    height: 60px;
  }
}
