$blue: #1F4480;
$edmontonBlue: #005087;
$orange: #ED2D2C;
$yellow: #F9D41B;
$white: #DDE3E6;
$navy: #0E2730;
$lightGreen: #C7D0D4;

$lato: "Lato-Regular";
$latoBlack: "Lato-Black";
$latoBold: "Lato-Bold";