@charset "UTF-8";
@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato-Black";
  src: url("/fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato/Lato-Italic.ttf");
  font-weight: 900;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lato-Regular";
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

header {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.85) 100%), url(../../assets/lrttv-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
}

h1, h2, .headerDescription {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: #005087;
  font-family: "Lato-Bold";
  font-size: clamp(3.5rem, 6vw, 8rem);
  text-shadow: -1.5px -1.5px 0 #DDE3E6, 1.5px -1.5px 0 #DDE3E6, -1.5px 1.5px 0 #DDE3E6, 1.5px 1.5px 0 #DDE3E6;
  white-space: pre;
  margin: 15px 0;
  letter-spacing: 0.35rem;
}

.h1span {
  color: #ED2D2C;
}

.time {
  color: #DDE3E6;
  font-size: clamp(1.7rem, 4.2vw, 3rem);
  text-shadow: -1.5px -1.5px 0 #0E2730, 1.5px -1.5px 0 #0E2730, -1.5px 1.5px 0 #0E2730, 1.5px 1.5px 0 #0E2730;
  white-space: pre;
  margin: 2.5px 0;
}

.headerDescription {
  font-size: clamp(1.6rem, 1.1vw, 2rem);
  color: #DDE3E6;
}

h3 {
  font-size: clamp(2.2rem, 1.8vw, 3rem);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: #005087;
  font-family: "Lato-Bold";
  padding: 0 5px;
  text-align: center;
}

main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/gh3-KATG-027.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  border-top: 2px solid #DDE3E6;
  border-bottom: 2px solid #DDE3E6;
}

.route {
  display: flex;
  width: 100%;
}

.accordion {
  border-bottom: 2px solid #DDE3E6;
}

.accordionItemHeader {
  font-size: clamp(1.2rem, 1.05vw, 2rem);
  cursor: pointer;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  background-color: #1F4480;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 23px;
}

.accordionItemHeader::after, .accordionItemHeader.active::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.accordionItemHeader::after {
  content: "✚";
}

.accordionItemHeader.active::after {
  content: "✖";
}

.accordionContent {
  padding: 10px;
  color: black;
  background-color: #C7D0D4;
  font-size: 2rem;
}
.accordionContent div {
  margin: 1.5px 0;
}

.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.5s ease-out;
}

.resultsElevatorContainer, .resultsEscalatorContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.briefDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato-Black";
  padding-bottom: 10px;
  font-size: clamp(1.5rem, 1.05vw, 2rem);
}

.doubleInfoContainer {
  width: 100%;
  display: flex;
  font-size: clamp(1.6rem, 1.05vw, 2rem);
  justify-content: center;
}
.doubleInfoContainer .doubleLeft, .doubleInfoContainer .doubleRight {
  width: 50%;
  display: flex;
}
.doubleInfoContainer .doubleLeft {
  justify-content: flex-end;
  padding-right: 2.5px;
}
.doubleInfoContainer .doubleLeft::after {
  content: ":";
}
.doubleInfoContainer .doubleRight {
  justify-content: flex-start;
  padding-left: 2.5px;
}
.doubleInfoContainer .doubleRight:last-child {
  flex-wrap: wrap;
}

.disruptions {
  border-top: 3px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #F9D41B;
}

.disruptionsHeader {
  width: 100%;
}

.disruptionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.disruptionsContainer div {
  width: 100%;
}

.elevatorOutages, .elevatorOutagesHeader, .escalatorOutages, .escalatorOutagesHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.stationHeaders {
  font-family: "Lato-Bold";
  display: flex;
}
.stationHeaders div {
  background-color: #986FAF;
  height: 35px;
}

.stationGridElevator, .stationGridEscalator, .stationHeaders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #DDE3E6;
  font-size: 2rem;
}
.stationGridElevator div, .stationGridEscalator div, .stationHeaders div {
  border: 1px solid black;
  overflow: hidden;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.stationGridElevator, .stationGridEscalator {
  background-color: #C7D0D4;
  font-size: 2rem;
}

.apiError {
  display: flex;
  justify-content: center;
  font-size: clamp(1.5rem, 1.05vw, 2rem);
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #005087;
  color: #DDE3E6;
  font-size: clamp(1.8rem, 1.05vw, 2rem);
  padding: 15px 10px;
}

@media (max-width: 1000px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    white-space: break-spaces;
  }
  .stationGridElevator, .stationGridEscalator {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 2px solid black;
    padding: 5px;
    font-size: clamp(1.6rem, 2vw, 2rem);
  }
  .stationGridElevator div, .stationGridEscalator div {
    justify-content: center;
    border: none;
    text-align: center;
  }
  .stationGridElevator div:first-child, .stationGridEscalator div:first-child {
    font-family: "Lato-Bold";
  }
  .stationGridElevator div:nth-child(4)::before, .stationGridEscalator div:nth-child(4)::before {
    content: "Since ";
    white-space: pre;
  }
  .stationGridElevator div:last-child, .stationGridEscalator div:last-child {
    display: none;
  }
  .stationGridElevator:last-child, .stationGridEscalator:last-child {
    border-bottom: 2px solid black;
  }
  .stationGridElevator div:first-child::after, .stationGridEscalator div:first-child::after {
    content: " Station";
    white-space: pre;
  }
  .elevatorOutagesHeader, .escalatorOutagesHeader {
    display: none;
  }
  .briefDescription {
    font-family: "Lato-Regular";
  }
  .doubleInfoContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .doubleInfoContainer .doubleLeft, .doubleInfoContainer .doubleRight {
    justify-content: center;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .doubleInfoContainer .doubleLeft {
    font-family: "Lato-Black";
  }
  .doubleInfoContainer .doubleLeft::after {
    content: "";
  }
}